
.project-title {
    margin-bottom: 0px;
}
.project-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-thumb-wrapper {
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
}
@media screen and (max-width: 550px) {
    .img-thumb-wrapper {
        max-width: 75px;
        max-height: 75px;
        margin-right: .5em;
    }
}
.img-thumb {
    border-radius: 10px;
}
.img-wrapper {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
.img-mary {
    max-height: 280px;
    border-radius: 20px;
}
.img-project {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 550px) {
    .img-extra {
        display: none;
    }
}

.content {
    margin-bottom: 4em;
}

.footer-list {
    margin-bottom: 0px;
    padding-top: 10px;
}

/*
.navbar {
    display: none; }
*/

.navbar {
    top: calc(100% - 3em);
    position: absolute;
    z-index: 1;
    width: 42px;
    height: 42px;
    color: white;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}


@media screen and (min-width: 720px) {
    .navbar {
        position: static;
        width: auto;
        height: auto;
        background: none;
        color: black;
    }
}

.navbar:after {
    content: "☰";
    font-size: 24px;
    width: 1em;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

@media screen and (min-width: 720px) {
    .navbar:after {
        content: normal;
        content: none;
    }
}

.navbar.is-open {
    overflow: visible;
}

.navbar.is-open:after {
    content: "✕";
}

@media screen and (min-width: 720px) {
    .navbar.is-open:after {
        content: normal;
        content: none;
    }
}


.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 42px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 250px;
    border-radius: 3px;
    z-index: -1;
}

@media screen and (min-width: 720px) {
    .navbar-list {
        padding-top: 0;
        position: static;
        width: auto;
        display: block;
        background: none;
        text-align: left;
    }
}

.navbar-item {
    border-top: 1px solid white;
}

@media screen and (min-width: 720px) {
    .navbar-item {
        display: inline-block;
        border-top: none;
    }
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    color: white;
    display: block;
    white-space: nowrap;
    padding-right: 14px;
    padding-left: 14px;
    line-height: 42px;
}

@media screen and (min-width: 720px) {
    .navbar-link {
        color: black;
    }
}

@media screen and (max-width: 720px) {
    .navbar-link {
        text-align: center;
    }
}

@media (min-width: 300px) {
    .header {
        margin-top: 1rem;
    }
}


/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 5rem; }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem; }
    .value-img {
        margin-bottom: 1rem; }
    .example-grid .column,
    .example-grid .columns {
        margin-bottom: 1.5rem; }
    .docs-section {
        padding: 6rem 0; }
    .example-send-yourself-copy {
        float: right;
        margin-top: 12px; }
    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;header
        height: 100%;
        left: 0;
        max-height: none; }
}

/* Larger than tablet */
@media (min-width: 720px) {
    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0; }
    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee; }
    .navbar-spacer {
        display: none; }
    .navbar > .container {
        width: 100%; }
    .navbar-list {
        list-style: none;
        margin-bottom: 0; }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0; }
    .navbar-item-right {
        float: right;
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222; }
    .navbar-link-right {
        margin-right: 0;
        margin-left: 35px;
    }
    .navbar-link.active {
        color: #33C3F0; }
}
