
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

.image-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto }
}

.about-image-wrapper {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding-bottom: 2em;
}
.about-image {
    max-height: 280px;
    border-radius: 20px;
}

@media screen and (max-width: 550px) {
    .about-image-extra {
        display: none;
    }
}

.content {
    margin-top: 2em;
    margin-bottom: 4em;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.footer-menu {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: lightgray;
    text-align: center;
}

.footer-social-link {
    padding: 0 .5em;
}

@media (min-width: 48em) {
    .header {
        text-align: right;
    }
    
    .footer {
        text-align: center;
    }
}


.footer-list {
    margin-bottom: 0px;
    padding-top: 10px;
}


@media (min-width: 300px) {
    .header {
        margin-top: 1rem;
        text-align: right;
    }
}


/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 5rem; }
}

@media screen and (min-width: 720px) {
    .header {
        top: auto;
    }
}
@media screen and (min-width: 300px) and (max-width: 720px) {
    .header {
        padding-top: .5em;
        border-bottom: 1px solid #eee;
    }
}

.brand-title,
.brand-tagline {
    margin: 0;
}
@media screen and (min-width: 300px) and (max-width: 720px) {
    .brand-tagline {
        display: none;
    }
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

