* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project {
    padding-bottom: 2em;
}
.project-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0;
}
.project-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.project-type {
    float: right;
    margin-left: 1em;
    width: 30px;
    height: 30px;
}
    @media screen and (min-width: 300px) and (max-width: 720px) {
        .project-type {
            margin-top: .5em;
            width: 24px;
            height: 24px;
        }
    }
.project-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.project-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.project-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .project-category-db {
        background: #e7ca40;
    }
    .project-category-web {
        background: #79e77f;
    }
    .project-category-design {
        background: #4d85d1;
    }
    .project-category-markup {
        background: #5aba59;
    }
    .project-category-tools {
        background: #8156a7;
    }
    .project-category-js {
        background: #df2d4f;
    }
    .project-category-testing {
        background: #9ddce7;
    }
    .project-category-service {
        background: #e77349;
    }

.project-images {
    margin: 1em 0;
}
.project-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
.project-image {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}
.project-image-thumb {
    border-radius: 10px;
}
.project-image-thumb-wrapper {
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
}
    @media screen and (max-width: 550px) {
        .project-image-thumb-wrapper {
            max-width: 75px;
            max-height: 75px;
            margin-right: .5em;
        }
    }

.projects {
    margin-bottom: 75px;
}


.project-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.project-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.project-tab button:hover {
    background-color: #ddd;
}

.project-tab button.active {
    background-color: #ccc;
}

.project-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
